body {
  font-family: "Press Start 2P", system-ui;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  text-align: center;
  background-image: url('images/app-background.png')
}

h1 {
  margin-bottom: 90px;
  font-weight: 100;
}

input {
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 15px;
  background-color: #fff5e9;
  font-family: "Press Start 2P", system-ui;
}

#sign-up {
  display: inline-block;
}

#sign-up, label {
  padding: 25px;
}

#fname, #lname {
  width: 200px;
}

input:focus {
  outline: none;
  border-color: pink;
}

input:hover {
  outline: none;
  border-color: pink;
}

#btnsign, #btnlog {
  font-family: "Press Start 2P", system-ui;
  padding: 7px;
  border-radius: 10px;
  margin-top: 50px;
  background-color: #fff5e9;
}

#btnsign:hover, #btnlog:hover {
  outline: none;
  border-color: pink;
}

btnsign:focus, #btnlog:focus {
  outline: none;
  background-color: pink;
  border-color: #fff5e9;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-height: 500px) and (max-height: 800px) and 
 (min-width: 600px) {
  margin-top: 0px;
}
