body {
  font-family: "Press Start 2P", system-ui;
  margin: auto;
  width: 850px;
  height: 1900px;
  text-align: center;
  background-image: url('images/app-background.png');
  border: 1px, solid, black;
}

#title {
  font-weight: 80;
  font-size: 60px;
}

#choose {
  font-size: 30px;
  margin-left: 15px;
}

label {
  font-size: 30px;
}

input {
  margin-top: 5px;
  margin-bottom: 30px;
  width: 600px;
  height: 50px;
  border-radius: 15px;
  background-color: #fff5e9;
  font-family: "Press Start 2P", system-ui;
  font-size: 40px;
}

#fname, #lname {
  width: 390px;
}

input:focus {
  outline: none;
  border-color: pink;
}

input:hover {
  outline: none;
  border-color: pink;
}

#btnsign, #btnlog, #btnlogout, #btnprompt, #btnwrite, #btnaffirm, #btncalendar{
  font-family: "Press Start 2P", system-ui;
  border-radius: 10px;
  margin: 10px;
  background-color: #fff5e9;
  font-size: 25px;
  padding: 5px;
}

#btnsign:hover, #btnlog:hover, #btnlogout:hover, #btnprompt:hover, #btnwrite:hover, #btnaffirm:hover {
  outline: none;
  border-color: pink;
}

btnsign:focus, #btnlog:focus, #btnlogout:focus, #btnprompt:focus, #btnwrite:focus, #btnaffirm:focus {
  outline: none;
  background-color: pink;
  border-color: #fff5e9;
}

a {
  text-decoration: none;
  color: black;
}

#btncalendar {
  float: right;
}

h2 {
  font-size: 24px;
  text-align: left;
  margin-left: 25px;
}

h3 {
  font-size: 20px;
}

#bearmojis {
  text-align: left;
  margin-left: 15px;
}

#Hugsy {
  float: right;
  margin-right: 15px;
}

#btnprompt, #btnwrite, #btnaffirm {
  font-family: "Press Start 2P", system-ui;
  padding: 2px;
  border-radius: 10px;
  margin-top: 50px;
  background-color: #fff5e9;
  font-size: 30px;
  width: 600px;
  height: 80px;
}

p {
  font-size: 20px;
}
